table {
  width: 90%;
  margin: 2rem auto;
}

@media screen and (max-width: 575px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: scroll;
  }
  .xs-font {
    font-size: 10px;
  }
}
